body{
    background-color: #000;
    color: #fff;
    min-height: 100vh;
}
.header__title{
    font-family: 'Sedgwick Ave Display';
    font-style: bold;
    font-size: 56px;
    text-align: center;
}
.header__team{
    justify-content: center ;
    text-align: center
}




