body{
    background-color: #000;
    color: #fff;
    
}
.header__title{
    font-family: 'Sedgwick Ave Display';
    font-style: bold;
    font-size: 56px;
    text-align: center;
}
.header__team{ 
    text-align: justify;
    text-align: center;
    
}
a{
    color: red;
    font-family: 'Playpen Sans';
    font-style: normal;
    font-size: 21px;

    
    
}
.link{
    text-align: center;
}
.figure__image{
    height: auto;
    width: 100%;
    border-radius: 216px;
    margin:auto

}
figcaption{
    text-align: center;
    font-family: 'Playpen Sans';
    font-style: normal;
    font-size: 21px;
}
h2{
    text-align: center;
    font-family: 'Sedgwick Ave Display';
    font-style: bold;
    font-size: 36px;

}
.history{
    
    font-family: 'Playpen Sans';
    font-style: normal;
    font-size: 21px;
    max-width:1234px;
    text-align: center;
    margin-left: 5%;
    border: #fff solid 3px;
    border-radius: 30px;
    

}
.brady{
    height: 800px;
    width: 500px;
    border-radius: 216px;
    margin-left: 5%;
    

}
.cadrene{
    height: 800px;
    width: 500px;
    border-radius: 216px;
    margin-left: 5%;
}

.hurle{
    height: 800px;
    width: 500px;
    border-radius: 216px;
    margin-top: 100px;
    margin-left: 5%;
}
.image__patriot{
    text-align: center;
}
.cadretampa{
    height: 800px;
    width: 500px;
    border-radius: 216px;
    margin-top: 100px;
    margin-left: 5%;
}
.image__tampa{
    text-align: center;
}


.list{
    font-family: 'Playpen Sans';
    font-style: normal;
    font-size: 21px;
    display: list-item;
    display: flex;
    align-content: center;
    justify-content: space-around;
    
    
}
ol{
    border: #fff solid 3px;
    border-radius: 30px;

}
.ball{
    height: 90% ;
    width: 99% ;
    border-radius: 408px;
    border: #fff solid 5px;
}
.designed{
    font-family: 'Playpen Sans';
    font-style: normal;
    font-size: 21px;
    text-align: center;

}
@media (max-width:834){
    



    
}






















